<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
  <ion-toolbar id="x" color="white">
    <code *ngIf="result"> {{ result }} </code>
  </ion-toolbar>
</ion-header>

<div class="container">

  <ion-tab-button (click)="actionsheet()">Open</ion-tab-button>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" (click)='showPageInicio()'>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendario" (click)='showPageCalendario()'>
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notas" (click)='showPageNotas()'>
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sair" (click)='showPageSair()'>
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
